/*   font-family: "IBM Plex Mono", monospace;
  font-family: "Roboto", sans-serif;   */

.title {
  font-family: "IBM Plex Mono", monospace;
}

.list {
  list-style-type: none;
}

.experience-title {
  font-size: 1.25em;
}
.experience-list {
  line-height: 150%;
}
.head {
  font-size: 30px;
}

.skills,
.awards,
.activities {
  line-height: 150%;
}
